@font-face {
  font-family: BaseFont;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 100%;
  float: right;

  .fill {
    transition: width 1s linear;
  }
}

.status-bar {
  display: flex;
  min-height: 18vw;
  background: url('../images/ui/Plank_08.png');
  background-size: 120% 100%;
  background-position: center;
  padding: 1.8vw 1vw 0;
  z-index: 2;

  .spacer {
    flex-grow: 1;
  }
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.equipment-list {
  display: flex;
  flex-wrap: wrap;

  .equipment {
    width: 25vw;
    text-align: center;

    .item-icon {
      margin: 0 auto;
    }
  }
}

.item-icon {
  $padding: 8px;
  display: inline-block;
  position: relative;
  width: 20vw;
  height: 20vw;
  padding: $padding;
  box-sizing: border-box;
  font-size: 70%;
  text-shadow: 0 0 2px black, 0 0 2px black;
  color: white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/ui/frame_s_01.png) no-repeat;
    background-size: 90%;
    background-position: center;
    z-index: 2;
  }

  .slot {
    //border: 1px solid grey;
    position: relative;
    height: 100%;
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    display: block;
  }

  .qty {
    position: absolute;
    bottom: 2%;
    right: 4%;
  }

  .integrity {
    position: absolute;
    top: 2%;
    right: 4%;
  }

  &.small {
    width: 12vw;
    height: 12vw;
    padding: $padding / 2;
    font-size: 60%;
  }
}

.details {
  font-size: 89%;

  .label {
    font-size: 80%;
    padding-top: 3px;
  }

  .action {
    height: 10vw;
    margin: 4px 0 0;
  }
}

.creature {
  padding: 0 2vw;
  display: flex;

  .name {
    flex-grow: 1;
    padding: 3vw 0;
  }
}

.context-menu {
  position: fixed;
  width: 60vw;
  margin-left: -30vw;
  z-index: 9000;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
  }

  .contents {
    background-color: $main-background;
    border: 1px solid grey;
    text-align: center;
    z-index: 2;
    position: relative;
    font-size: 85%;

    .title {
      line-height: 40px;
      border-bottom: 1px solid grey;
    }
  }
}

.research-material {
  > * {
    vertical-align: middle;
  }
}

.tech-recipe {
  display: flex;
}

.modal {
  position: fixed;
  top: 10%;
  bottom: 15%;
  left: 9%;
  right: 9%;
  z-index: 9000;
  display: flex;
  flex-direction: column-reverse;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
  }

  .contents {
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    z-index: 2;
    position: relative;
  }
}


pre {
  font-size: 60%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .scrollable-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .section-selector {
    $buttons: 6;
    $size: 100vw / 5;
    $bar-height: $size * 0.75;
    min-height: $bar-height;
    height: $bar-height;
    display: flex;

    .toggle {
      height: 100%;
      width: $size;
      font-size: $size / 2;
      line-height: $bar-height;
      text-align: center;
      background: url('../images/ui/Plank_08.png');
      background-size: 100% 100%;
      color: $bright-text-color;
      text-shadow: $text-shadow;
      position: relative;

      &.active {
        filter: brightness(140%);
      }
      &.highlight:not(.active) {
        box-shadow: 0 0 10px 3px red inset;
      }

      .icon, .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: none center center no-repeat;
        background-size: auto 50%;
      }
      .icon {
        filter: contrast(0) brightness(1.2) sepia(1);
      }
      .shadow {
        background-position: 55% 55%;
      }

      &.location {
        .icon, .shadow {
          background-image: url('../images/icons8-home-100.png');
        }
      }
      &.mobs {
        .icon, .shadow {
          background-image: url('../images/icons8-people-100.png');
        }
      }
      &.inventory {
        .icon, .shadow {
          background-image: url('../images/icons8-drawstring-bag-100.png');
        }
      }
      &.crafting {
        .icon, .shadow {
          background-image: url('../images/icons8-hammer-100.png');
        }
      }
      &.stats {
        .icon, .shadow {
          background-image: url('../images/icons8-automation-filled-100.png');
        }
      }
    }
  }
}
