@font-face {
  font-family: BaseFont;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: BaseFont, Arial;
  font-size: 24px;
  margin: 0;
  height: 100%;
  //background: #333;
  //color: #eee;
}

#app {
  height: 100%;
}

button {
  font-size: inherit;
  font-family: inherit;
  padding: 4px 16px;
  border-radius: 10px;
}

.action {
  border: 2px solid lightgray;
  background-color: #f8f8f8;

  &:focus {
    outline: none;
  }
  &.current:not(.disabled) {
    background-color: #f8f8a8;
    border: 2px solid orange;
  }
  &.disabled {
    opacity: 0.4;
  }
}

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 400px;
  float: right;

  .fill {
    height: 100%;
    transition: width 1s linear;
  }
}

pre {
  font-size: 60%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .scrollable-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .section-selector {
    $buttons: 6;
    $size: 100vw / 6;
    min-height: $size;
    border-top: 1px solid gray;
    display: flex;

    .toggle {
      height: 100%;
      width: $size;
      font-size: $size / 2;
      line-height: $size;
      text-align: center;

      &.active {
        background: lightgray;
      }
    }
  }
}