@font-face {
  font-family: BaseFont;
}

body, html {
  font-family: BaseFont, Arial;
  font-size: 24px;
  margin: 0;
  //background: #333;
  //color: #eee;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.action {
  border: 2px solid transparent;
  background-color: #f8f8f8;

  &:focus {
    outline: none;
  }
  &.current {
    border: 2px solid orange;
  }
}

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 400px;
  float: right;

  .fill {
    height: 100%;
//    transition: width 1s linear;
  }
}

pre {
  font-size: 60%;
}