.current-action {
  height: 13vw;
  width: 13vw;
  position: relative;
  overflow: hidden;
  box-sizing: content-box !important;

  .current-action-wrapper {
    $full-main-color: black;
    $size: 100%;
    $highlight1: rgba(150,255,0,0.7) 0%;
    $highlight2: rgba(150,255,0,0) 100%;

    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    overflow: hidden;
    transform-origin: 0 0;

    .half {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4;

      &.first-container {
        width: 50%;
        left: 50%;
        overflow: hidden;
        clip-path: inset(3px 4px 4px 0);
      }
      &.first {
        background: radial-gradient(ellipse at left, $highlight1, $highlight2);
        transform-origin: left center;
      }
      &.second-container {
        width: 50%;
        overflow: hidden;
        clip-path: inset(3px 0 4px 4px);
      }
      &.second {
        background: radial-gradient(ellipse at right, $highlight1, $highlight2);
        transform-origin: right center;
      }
    }
    .mid-cover {
      background: url('../images/ui/frame_c3_01.png') center center no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: $size;
      height: $size;
      padding: 6px;

      img {
        $padding: 8px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: $padding;
        z-index: 5;

        &.icon {
          filter: contrast(0) brightness(1.2) sepia(1);
        }
        &.shadow {
          $shift: 1;
          padding: $padding + $shift $padding - $shift $padding - $shift $padding + $shift;
        }
      }
    }
    .border {
      background: url('../images/ui/frame_c2_01_border.png');
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
    }
  }

  .repetitions {
    font-size: 60%;
    text-shadow: 0 0 2px black, 0 0 2px black;
    position: absolute;
    color: $bright-text-color;
    top: 6%;
    right: 15%;
    z-index: 6;
  }
}
