.container {
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;

  .draggable-map {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../resources/Arcannan.jpg');
    //background-position: -2060px -2212px;
    //background-size: 5016px;
    background-position: -1000px -1109px;
    border-radius: 20px;

    .node-token {
      $size: 30px;
      position: absolute;
      border: 1px solid lightgrey;
      width: $size;
      height: $size;
      margin-left: -$size / 2;
      margin-top: -$size / 2;
      border-radius: 50%;
      box-sizing: border-box;
      z-index: 2;
      background-color: white;

      &.current {
        border-width: 6px;
        z-index: 3;
      }
    }

    .path {
      $width: 5px;
      position: absolute;
      min-width: 1px;
      min-height: $width;
      margin-top: -$width / 2;
      background-color: lightgrey;
      z-index: 1;
    }
  }
}