.main-map-container {
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  transition: height 0.6s;

  .toggle-expand {
    position: absolute;
    top: 0;
    right: 3px;
    width: 5vh;
    height: 4vh;
    z-index: 4;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    border-top: none;
    background: url('../images/icons8-sort-down-52.png') white center center no-repeat;
    background-size: 50%;
  }

  &.expanded {
    height: 60vh;

    .toggle-expand {
      transform: scaleY(-1);
      border-radius: 10px 10px 0 0;
      border: 1px solid black;
      border-bottom: none;
    }
  }

  &::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    transition: box-shadow 0.6s;
    pointer-events: none;
  }
  &.sneaking::before {
    box-shadow: 0 0 120px 10px inset black;
  }

  .draggable-map {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../images/Arcannan.jpg');
    //background-position: -2060px -2212px;
    //background-size: 5016px;
    //background-position: -1000px -1109px;
    border-radius: 20px;

    &:not(.dragging) {
      transition: margin 0.3s ease-in;
    }

    .node-token {
      $size: 20px;
      position: absolute;
      border: 1px solid black;
      width: $size;
      height: $size;
      margin-left: -$size / 2;
      margin-top: -$size / 2;
      border-radius: 50%;
      box-sizing: border-box;
      z-index: 2;
      background-color: white;
      opacity: 0.6;

      .inset, .mid-cover {
        border: 4px solid black;
      }

      // TODO: this is icon only
      //font-size: 12px;
      //text-align: center;
      //line-height: 19px;
      //color: white;
      //opacity: 1;
      //background-color: black;

      &.current {
        opacity: 1;
        z-index: 3;
      }
    }

    .path {
      $width: 5px;
      opacity: 0.8;
      border-radius: $width;
      position: absolute;
      min-width: 1px;
      min-height: $width;
      margin-top: -$width / 2;
      background-color: lightgrey;
      border: 1px solid black;
      z-index: 1;
    }
  }
}