.modal {
  position: fixed;
  top: 10%;
  bottom: 15%;
  left: 9%;
  right: 9%;
  z-index: 9000;
  display: flex;
  flex-direction: column-reverse;

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
  }

  .contents {
    background: url('../images/ui/board_dark.png');
    border: 12px solid;
    border-image: url('../images/ui/obj_08_full_border.png') 23;
    background-size: 120px;
    padding: 16px;
    text-align: center;
    z-index: 2;
    position: relative;
  }

  .close {
    float: right;
    padding: 4px;
    height: 32px;
    width: 32px;
    font-size: 25px;
    margin: -10px -10px 0 0;
  }

  .title {
    line-height: 31px;
    margin: -10px 22px 0 -10px;
    font-size: 80%;
  }

  .main {
    clear: both;
    margin-top: 8px;
  }
}
