.number-selector {
  display: flex;

  .number {
    width: 20vmin;
  }

  .choices {
    flex-direction: column;
    display: flex;
    width: 20vmin;
    margin-left: 15px;
  }

  input {
    width: 100%;
    height: 35px;
    text-align: right;
    font-size: 85%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  button {
    flex-grow: 1;
    height: 35px;
    width: auto;
    padding: 0 0;
  }
}