@font-face {
  font-family: BaseFont; }

* {
  box-sizing: border-box; }

body, html {
  font-family: BaseFont, Arial;
  font-size: 24px;
  margin: 0;
  height: 100%; }

#app {
  height: 100%; }

button {
  font-size: inherit;
  font-family: inherit;
  padding: 4px 16px;
  border-radius: 10px; }

.action {
  border: 2px solid lightgray;
  background-color: #f8f8f8;
  height: 40px;
  margin: 6px 0;
  font-size: 90%; }
  .action:focus {
    outline: none; }
  .action.current:not(.disabled) {
    background-color: #f8f8a8;
    border: 2px solid orange; }
  .action.disabled {
    opacity: 0.4; }

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 100%;
  float: right; }
  .meter-bar .fill {
    transition: width 1s linear; }

.status-bar {
  display: flex;
  min-height: 14.9vw;
  border-bottom: 1px solid grey; }

.meter-orb {
  height: 13.5vw;
  width: 13.5vw;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0.2vw;
  overflow: hidden;
  position: relative; }
  .meter-orb .fill {
    position: absolute;
    bottom: 0;
    width: 102%;
    margin-left: -1%;
    height: 102%;
    margin-bottom: -1%;
    transition: clip-path 1s linear; }

.item-list {
  display: flex;
  flex-wrap: wrap; }

.equipment-list {
  display: flex;
  flex-wrap: wrap; }
  .equipment-list .equipment {
    width: 25vw;
    text-align: center; }
    .equipment-list .equipment .item-icon {
      margin: 0 auto; }

.item-icon {
  display: inline-block;
  position: relative;
  width: 20vw;
  height: 20vw;
  padding: 8px;
  box-sizing: border-box;
  font-size: 70%;
  text-shadow: 0 0 2px black, 0 0 2px black;
  color: white; }
  .item-icon .slot {
    border: 1px solid grey;
    background: lightgrey;
    position: relative;
    height: 100%;
    width: 100%; }
  .item-icon img {
    height: 100%;
    width: 100%;
    display: block; }
  .item-icon .qty {
    position: absolute;
    bottom: 2%;
    right: 4%; }
  .item-icon .integrity {
    position: absolute;
    top: 2%;
    right: 4%; }
  .item-icon.small {
    width: 12vw;
    height: 12vw;
    padding: 4px;
    font-size: 60%; }

.details {
  font-size: 89%; }
  .details .label {
    font-size: 80%;
    padding-top: 3px; }
  .details .action {
    height: 10vw;
    margin: 4px 0 0; }

.creature {
  padding: 0 2vw;
  display: flex; }
  .creature .name {
    flex-grow: 1;
    padding: 3vw 0; }

.context-menu {
  position: fixed;
  width: 60vw;
  margin-left: -30vw;
  z-index: 9000; }
  .context-menu .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1; }
  .context-menu .contents {
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    z-index: 2;
    position: relative;
    font-size: 85%; }
    .context-menu .contents .title {
      line-height: 40px;
      border-bottom: 1px solid grey; }

.research-material > * {
  vertical-align: middle; }

.tech-recipe {
  display: flex; }

.modal {
  position: fixed;
  top: 10%;
  bottom: 15%;
  left: 9%;
  right: 9%;
  z-index: 9000;
  display: flex;
  flex-direction: column-reverse; }
  .modal .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1; }
  .modal .contents {
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    z-index: 2;
    position: relative; }

pre {
  font-size: 60%; }

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .main-container .scrollable-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto; }
  .main-container .section-selector {
    min-height: 15vw;
    height: 15vw;
    border-top: 1px solid gray;
    display: flex; }
    .main-container .section-selector .toggle {
      height: 100%;
      width: 20vw;
      font-size: 10vw;
      line-height: 15vw;
      text-align: center; }
      .main-container .section-selector .toggle.active {
        background: lightgray; }
      .main-container .section-selector .toggle.highlight:not(.active) {
        box-shadow: 0 0 10px 3px red inset; }

.current-action {
  height: 13.5vw;
  width: 13.5vw;
  border: 1px solid black;
  position: relative; }
  .current-action .border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 12px solid green; }
    .current-action .border.tr {
      border-left: none;
      border-bottom: none;
      border-right-color: transparent;
      width: 50%;
      left: 50%; }
    .current-action .border.r {
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-left: none;
      width: 101%; }
    .current-action .border.b {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none; }
    .current-action .border.l {
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-right: none; }
    .current-action .border.tl {
      border-right: none;
      border-bottom: none;
      border-left-color: transparent;
      width: 50%; }
  .current-action .img-container {
    z-index: 2;
    position: relative;
    padding: 3px;
    width: 100%;
    height: 100%; }
    .current-action .img-container img {
      background: white;
      width: 100%;
      height: 100%;
      padding: 4px;
      border: 1px solid black; }
  .current-action .repetitions {
    font-size: 60%;
    text-shadow: 0 0 2px black, 0 0 2px black;
    color: white;
    position: absolute;
    bottom: 4%;
    right: 10%;
    z-index: 3; }

section {
  border-top: 2px solid grey; }
  section header {
    text-align: center;
    font-weight: bold;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey; }
  section header.subheader {
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey; }

.main-map-container {
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  transition: height 0.6s; }
  .main-map-container .toggle-expand {
    position: absolute;
    top: 0;
    right: 3px;
    width: 5vh;
    height: 4vh;
    background-color: white;
    z-index: 4;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    border-top: none;
    background: url("../images/icons8-sort-down-52.png") white center center no-repeat;
    background-size: 50%; }
  .main-map-container.expanded {
    height: 60vh; }
    .main-map-container.expanded .toggle-expand {
      transform: scaleY(-1);
      border-radius: 10px 10px 0 0;
      border: 1px solid black;
      border-bottom: none; }
  .main-map-container::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    transition: box-shadow 0.6s;
    pointer-events: none; }
  .main-map-container.sneaking::before {
    box-shadow: 0 0 120px 10px inset black; }
  .main-map-container .draggable-map {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/Arcannan.jpg");
    border-radius: 20px; }
    .main-map-container .draggable-map:not(.dragging) {
      transition: margin 0.3s ease-in; }
    .main-map-container .draggable-map .node-token {
      position: absolute;
      border: 1px solid black;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      border-radius: 50%;
      box-sizing: border-box;
      z-index: 2;
      background-color: white;
      opacity: 0.6; }
      .main-map-container .draggable-map .node-token .inset {
        border: 1px solid black; }
      .main-map-container .draggable-map .node-token.current {
        opacity: 1;
        z-index: 3; }
    .main-map-container .draggable-map .path {
      opacity: 0.8;
      border-radius: 5px;
      position: absolute;
      min-width: 1px;
      min-height: 5px;
      margin-top: -2.5px;
      background-color: lightgrey;
      border: 1px solid black;
      z-index: 1; }

.radial-progress {
  height: 100px;
  width: 100px;
  background-color: #d6dadc;
  border-radius: 50%; }
  .radial-progress .circle {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%; }
    .radial-progress .circle .mask, .radial-progress .circle .fill, .radial-progress .circle .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .radial-progress .circle .shadow {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset; }
    .radial-progress .circle .mask, .radial-progress .circle .fill {
      -webkit-backface-visibility: hidden;
      transition: transform 1s;
      border-radius: 50%; }
    .radial-progress .circle .mask {
      clip-path: inset(0 0 0 50%); }
      .radial-progress .circle .mask .fill {
        clip-path: inset(0 50% 0 0);
        background-color: red; }
  .radial-progress .inset {
    width: 70%;
    height: 70%;
    position: absolute;
    margin-left: 15%;
    margin-top: 15%;
    background-color: #fbfbfb;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2); }
  .radial-progress[data-progress="0"] .circle .mask.full, .radial-progress[data-progress="0"] .circle .fill {
    transform: rotate(0deg); }
  .radial-progress[data-progress="0"] .circle .fill.fix {
    transform: rotate(0deg); }
  .radial-progress[data-progress="1"] .circle .mask.full, .radial-progress[data-progress="1"] .circle .fill {
    transform: rotate(1.8deg); }
  .radial-progress[data-progress="1"] .circle .fill.fix {
    transform: rotate(3.6deg); }
  .radial-progress[data-progress="2"] .circle .mask.full, .radial-progress[data-progress="2"] .circle .fill {
    transform: rotate(3.6deg); }
  .radial-progress[data-progress="2"] .circle .fill.fix {
    transform: rotate(7.2deg); }
  .radial-progress[data-progress="3"] .circle .mask.full, .radial-progress[data-progress="3"] .circle .fill {
    transform: rotate(5.4deg); }
  .radial-progress[data-progress="3"] .circle .fill.fix {
    transform: rotate(10.8deg); }
  .radial-progress[data-progress="4"] .circle .mask.full, .radial-progress[data-progress="4"] .circle .fill {
    transform: rotate(7.2deg); }
  .radial-progress[data-progress="4"] .circle .fill.fix {
    transform: rotate(14.4deg); }
  .radial-progress[data-progress="5"] .circle .mask.full, .radial-progress[data-progress="5"] .circle .fill {
    transform: rotate(9deg); }
  .radial-progress[data-progress="5"] .circle .fill.fix {
    transform: rotate(18deg); }
  .radial-progress[data-progress="6"] .circle .mask.full, .radial-progress[data-progress="6"] .circle .fill {
    transform: rotate(10.8deg); }
  .radial-progress[data-progress="6"] .circle .fill.fix {
    transform: rotate(21.6deg); }
  .radial-progress[data-progress="7"] .circle .mask.full, .radial-progress[data-progress="7"] .circle .fill {
    transform: rotate(12.6deg); }
  .radial-progress[data-progress="7"] .circle .fill.fix {
    transform: rotate(25.2deg); }
  .radial-progress[data-progress="8"] .circle .mask.full, .radial-progress[data-progress="8"] .circle .fill {
    transform: rotate(14.4deg); }
  .radial-progress[data-progress="8"] .circle .fill.fix {
    transform: rotate(28.8deg); }
  .radial-progress[data-progress="9"] .circle .mask.full, .radial-progress[data-progress="9"] .circle .fill {
    transform: rotate(16.2deg); }
  .radial-progress[data-progress="9"] .circle .fill.fix {
    transform: rotate(32.4deg); }
  .radial-progress[data-progress="10"] .circle .mask.full, .radial-progress[data-progress="10"] .circle .fill {
    transform: rotate(18deg); }
  .radial-progress[data-progress="10"] .circle .fill.fix {
    transform: rotate(36deg); }
  .radial-progress[data-progress="11"] .circle .mask.full, .radial-progress[data-progress="11"] .circle .fill {
    transform: rotate(19.8deg); }
  .radial-progress[data-progress="11"] .circle .fill.fix {
    transform: rotate(39.6deg); }
  .radial-progress[data-progress="12"] .circle .mask.full, .radial-progress[data-progress="12"] .circle .fill {
    transform: rotate(21.6deg); }
  .radial-progress[data-progress="12"] .circle .fill.fix {
    transform: rotate(43.2deg); }
  .radial-progress[data-progress="13"] .circle .mask.full, .radial-progress[data-progress="13"] .circle .fill {
    transform: rotate(23.4deg); }
  .radial-progress[data-progress="13"] .circle .fill.fix {
    transform: rotate(46.8deg); }
  .radial-progress[data-progress="14"] .circle .mask.full, .radial-progress[data-progress="14"] .circle .fill {
    transform: rotate(25.2deg); }
  .radial-progress[data-progress="14"] .circle .fill.fix {
    transform: rotate(50.4deg); }
  .radial-progress[data-progress="15"] .circle .mask.full, .radial-progress[data-progress="15"] .circle .fill {
    transform: rotate(27deg); }
  .radial-progress[data-progress="15"] .circle .fill.fix {
    transform: rotate(54deg); }
  .radial-progress[data-progress="16"] .circle .mask.full, .radial-progress[data-progress="16"] .circle .fill {
    transform: rotate(28.8deg); }
  .radial-progress[data-progress="16"] .circle .fill.fix {
    transform: rotate(57.6deg); }
  .radial-progress[data-progress="17"] .circle .mask.full, .radial-progress[data-progress="17"] .circle .fill {
    transform: rotate(30.6deg); }
  .radial-progress[data-progress="17"] .circle .fill.fix {
    transform: rotate(61.2deg); }
  .radial-progress[data-progress="18"] .circle .mask.full, .radial-progress[data-progress="18"] .circle .fill {
    transform: rotate(32.4deg); }
  .radial-progress[data-progress="18"] .circle .fill.fix {
    transform: rotate(64.8deg); }
  .radial-progress[data-progress="19"] .circle .mask.full, .radial-progress[data-progress="19"] .circle .fill {
    transform: rotate(34.2deg); }
  .radial-progress[data-progress="19"] .circle .fill.fix {
    transform: rotate(68.4deg); }
  .radial-progress[data-progress="20"] .circle .mask.full, .radial-progress[data-progress="20"] .circle .fill {
    transform: rotate(36deg); }
  .radial-progress[data-progress="20"] .circle .fill.fix {
    transform: rotate(72deg); }
  .radial-progress[data-progress="21"] .circle .mask.full, .radial-progress[data-progress="21"] .circle .fill {
    transform: rotate(37.8deg); }
  .radial-progress[data-progress="21"] .circle .fill.fix {
    transform: rotate(75.6deg); }
  .radial-progress[data-progress="22"] .circle .mask.full, .radial-progress[data-progress="22"] .circle .fill {
    transform: rotate(39.6deg); }
  .radial-progress[data-progress="22"] .circle .fill.fix {
    transform: rotate(79.2deg); }
  .radial-progress[data-progress="23"] .circle .mask.full, .radial-progress[data-progress="23"] .circle .fill {
    transform: rotate(41.4deg); }
  .radial-progress[data-progress="23"] .circle .fill.fix {
    transform: rotate(82.8deg); }
  .radial-progress[data-progress="24"] .circle .mask.full, .radial-progress[data-progress="24"] .circle .fill {
    transform: rotate(43.2deg); }
  .radial-progress[data-progress="24"] .circle .fill.fix {
    transform: rotate(86.4deg); }
  .radial-progress[data-progress="25"] .circle .mask.full, .radial-progress[data-progress="25"] .circle .fill {
    transform: rotate(45deg); }
  .radial-progress[data-progress="25"] .circle .fill.fix {
    transform: rotate(90deg); }
  .radial-progress[data-progress="26"] .circle .mask.full, .radial-progress[data-progress="26"] .circle .fill {
    transform: rotate(46.8deg); }
  .radial-progress[data-progress="26"] .circle .fill.fix {
    transform: rotate(93.6deg); }
  .radial-progress[data-progress="27"] .circle .mask.full, .radial-progress[data-progress="27"] .circle .fill {
    transform: rotate(48.6deg); }
  .radial-progress[data-progress="27"] .circle .fill.fix {
    transform: rotate(97.2deg); }
  .radial-progress[data-progress="28"] .circle .mask.full, .radial-progress[data-progress="28"] .circle .fill {
    transform: rotate(50.4deg); }
  .radial-progress[data-progress="28"] .circle .fill.fix {
    transform: rotate(100.8deg); }
  .radial-progress[data-progress="29"] .circle .mask.full, .radial-progress[data-progress="29"] .circle .fill {
    transform: rotate(52.2deg); }
  .radial-progress[data-progress="29"] .circle .fill.fix {
    transform: rotate(104.4deg); }
  .radial-progress[data-progress="30"] .circle .mask.full, .radial-progress[data-progress="30"] .circle .fill {
    transform: rotate(54deg); }
  .radial-progress[data-progress="30"] .circle .fill.fix {
    transform: rotate(108deg); }
  .radial-progress[data-progress="31"] .circle .mask.full, .radial-progress[data-progress="31"] .circle .fill {
    transform: rotate(55.8deg); }
  .radial-progress[data-progress="31"] .circle .fill.fix {
    transform: rotate(111.6deg); }
  .radial-progress[data-progress="32"] .circle .mask.full, .radial-progress[data-progress="32"] .circle .fill {
    transform: rotate(57.6deg); }
  .radial-progress[data-progress="32"] .circle .fill.fix {
    transform: rotate(115.2deg); }
  .radial-progress[data-progress="33"] .circle .mask.full, .radial-progress[data-progress="33"] .circle .fill {
    transform: rotate(59.4deg); }
  .radial-progress[data-progress="33"] .circle .fill.fix {
    transform: rotate(118.8deg); }
  .radial-progress[data-progress="34"] .circle .mask.full, .radial-progress[data-progress="34"] .circle .fill {
    transform: rotate(61.2deg); }
  .radial-progress[data-progress="34"] .circle .fill.fix {
    transform: rotate(122.4deg); }
  .radial-progress[data-progress="35"] .circle .mask.full, .radial-progress[data-progress="35"] .circle .fill {
    transform: rotate(63deg); }
  .radial-progress[data-progress="35"] .circle .fill.fix {
    transform: rotate(126deg); }
  .radial-progress[data-progress="36"] .circle .mask.full, .radial-progress[data-progress="36"] .circle .fill {
    transform: rotate(64.8deg); }
  .radial-progress[data-progress="36"] .circle .fill.fix {
    transform: rotate(129.6deg); }
  .radial-progress[data-progress="37"] .circle .mask.full, .radial-progress[data-progress="37"] .circle .fill {
    transform: rotate(66.6deg); }
  .radial-progress[data-progress="37"] .circle .fill.fix {
    transform: rotate(133.2deg); }
  .radial-progress[data-progress="38"] .circle .mask.full, .radial-progress[data-progress="38"] .circle .fill {
    transform: rotate(68.4deg); }
  .radial-progress[data-progress="38"] .circle .fill.fix {
    transform: rotate(136.8deg); }
  .radial-progress[data-progress="39"] .circle .mask.full, .radial-progress[data-progress="39"] .circle .fill {
    transform: rotate(70.2deg); }
  .radial-progress[data-progress="39"] .circle .fill.fix {
    transform: rotate(140.4deg); }
  .radial-progress[data-progress="40"] .circle .mask.full, .radial-progress[data-progress="40"] .circle .fill {
    transform: rotate(72deg); }
  .radial-progress[data-progress="40"] .circle .fill.fix {
    transform: rotate(144deg); }
  .radial-progress[data-progress="41"] .circle .mask.full, .radial-progress[data-progress="41"] .circle .fill {
    transform: rotate(73.8deg); }
  .radial-progress[data-progress="41"] .circle .fill.fix {
    transform: rotate(147.6deg); }
  .radial-progress[data-progress="42"] .circle .mask.full, .radial-progress[data-progress="42"] .circle .fill {
    transform: rotate(75.6deg); }
  .radial-progress[data-progress="42"] .circle .fill.fix {
    transform: rotate(151.2deg); }
  .radial-progress[data-progress="43"] .circle .mask.full, .radial-progress[data-progress="43"] .circle .fill {
    transform: rotate(77.4deg); }
  .radial-progress[data-progress="43"] .circle .fill.fix {
    transform: rotate(154.8deg); }
  .radial-progress[data-progress="44"] .circle .mask.full, .radial-progress[data-progress="44"] .circle .fill {
    transform: rotate(79.2deg); }
  .radial-progress[data-progress="44"] .circle .fill.fix {
    transform: rotate(158.4deg); }
  .radial-progress[data-progress="45"] .circle .mask.full, .radial-progress[data-progress="45"] .circle .fill {
    transform: rotate(81deg); }
  .radial-progress[data-progress="45"] .circle .fill.fix {
    transform: rotate(162deg); }
  .radial-progress[data-progress="46"] .circle .mask.full, .radial-progress[data-progress="46"] .circle .fill {
    transform: rotate(82.8deg); }
  .radial-progress[data-progress="46"] .circle .fill.fix {
    transform: rotate(165.6deg); }
  .radial-progress[data-progress="47"] .circle .mask.full, .radial-progress[data-progress="47"] .circle .fill {
    transform: rotate(84.6deg); }
  .radial-progress[data-progress="47"] .circle .fill.fix {
    transform: rotate(169.2deg); }
  .radial-progress[data-progress="48"] .circle .mask.full, .radial-progress[data-progress="48"] .circle .fill {
    transform: rotate(86.4deg); }
  .radial-progress[data-progress="48"] .circle .fill.fix {
    transform: rotate(172.8deg); }
  .radial-progress[data-progress="49"] .circle .mask.full, .radial-progress[data-progress="49"] .circle .fill {
    transform: rotate(88.2deg); }
  .radial-progress[data-progress="49"] .circle .fill.fix {
    transform: rotate(176.4deg); }
  .radial-progress[data-progress="50"] .circle .mask.full, .radial-progress[data-progress="50"] .circle .fill {
    transform: rotate(90deg); }
  .radial-progress[data-progress="50"] .circle .fill.fix {
    transform: rotate(180deg); }
  .radial-progress[data-progress="51"] .circle .mask.full, .radial-progress[data-progress="51"] .circle .fill {
    transform: rotate(91.8deg); }
  .radial-progress[data-progress="51"] .circle .fill.fix {
    transform: rotate(183.6deg); }
  .radial-progress[data-progress="52"] .circle .mask.full, .radial-progress[data-progress="52"] .circle .fill {
    transform: rotate(93.6deg); }
  .radial-progress[data-progress="52"] .circle .fill.fix {
    transform: rotate(187.2deg); }
  .radial-progress[data-progress="53"] .circle .mask.full, .radial-progress[data-progress="53"] .circle .fill {
    transform: rotate(95.4deg); }
  .radial-progress[data-progress="53"] .circle .fill.fix {
    transform: rotate(190.8deg); }
  .radial-progress[data-progress="54"] .circle .mask.full, .radial-progress[data-progress="54"] .circle .fill {
    transform: rotate(97.2deg); }
  .radial-progress[data-progress="54"] .circle .fill.fix {
    transform: rotate(194.4deg); }
  .radial-progress[data-progress="55"] .circle .mask.full, .radial-progress[data-progress="55"] .circle .fill {
    transform: rotate(99deg); }
  .radial-progress[data-progress="55"] .circle .fill.fix {
    transform: rotate(198deg); }
  .radial-progress[data-progress="56"] .circle .mask.full, .radial-progress[data-progress="56"] .circle .fill {
    transform: rotate(100.8deg); }
  .radial-progress[data-progress="56"] .circle .fill.fix {
    transform: rotate(201.6deg); }
  .radial-progress[data-progress="57"] .circle .mask.full, .radial-progress[data-progress="57"] .circle .fill {
    transform: rotate(102.6deg); }
  .radial-progress[data-progress="57"] .circle .fill.fix {
    transform: rotate(205.2deg); }
  .radial-progress[data-progress="58"] .circle .mask.full, .radial-progress[data-progress="58"] .circle .fill {
    transform: rotate(104.4deg); }
  .radial-progress[data-progress="58"] .circle .fill.fix {
    transform: rotate(208.8deg); }
  .radial-progress[data-progress="59"] .circle .mask.full, .radial-progress[data-progress="59"] .circle .fill {
    transform: rotate(106.2deg); }
  .radial-progress[data-progress="59"] .circle .fill.fix {
    transform: rotate(212.4deg); }
  .radial-progress[data-progress="60"] .circle .mask.full, .radial-progress[data-progress="60"] .circle .fill {
    transform: rotate(108deg); }
  .radial-progress[data-progress="60"] .circle .fill.fix {
    transform: rotate(216deg); }
  .radial-progress[data-progress="61"] .circle .mask.full, .radial-progress[data-progress="61"] .circle .fill {
    transform: rotate(109.8deg); }
  .radial-progress[data-progress="61"] .circle .fill.fix {
    transform: rotate(219.6deg); }
  .radial-progress[data-progress="62"] .circle .mask.full, .radial-progress[data-progress="62"] .circle .fill {
    transform: rotate(111.6deg); }
  .radial-progress[data-progress="62"] .circle .fill.fix {
    transform: rotate(223.2deg); }
  .radial-progress[data-progress="63"] .circle .mask.full, .radial-progress[data-progress="63"] .circle .fill {
    transform: rotate(113.4deg); }
  .radial-progress[data-progress="63"] .circle .fill.fix {
    transform: rotate(226.8deg); }
  .radial-progress[data-progress="64"] .circle .mask.full, .radial-progress[data-progress="64"] .circle .fill {
    transform: rotate(115.2deg); }
  .radial-progress[data-progress="64"] .circle .fill.fix {
    transform: rotate(230.4deg); }
  .radial-progress[data-progress="65"] .circle .mask.full, .radial-progress[data-progress="65"] .circle .fill {
    transform: rotate(117deg); }
  .radial-progress[data-progress="65"] .circle .fill.fix {
    transform: rotate(234deg); }
  .radial-progress[data-progress="66"] .circle .mask.full, .radial-progress[data-progress="66"] .circle .fill {
    transform: rotate(118.8deg); }
  .radial-progress[data-progress="66"] .circle .fill.fix {
    transform: rotate(237.6deg); }
  .radial-progress[data-progress="67"] .circle .mask.full, .radial-progress[data-progress="67"] .circle .fill {
    transform: rotate(120.6deg); }
  .radial-progress[data-progress="67"] .circle .fill.fix {
    transform: rotate(241.2deg); }
  .radial-progress[data-progress="68"] .circle .mask.full, .radial-progress[data-progress="68"] .circle .fill {
    transform: rotate(122.4deg); }
  .radial-progress[data-progress="68"] .circle .fill.fix {
    transform: rotate(244.8deg); }
  .radial-progress[data-progress="69"] .circle .mask.full, .radial-progress[data-progress="69"] .circle .fill {
    transform: rotate(124.2deg); }
  .radial-progress[data-progress="69"] .circle .fill.fix {
    transform: rotate(248.4deg); }
  .radial-progress[data-progress="70"] .circle .mask.full, .radial-progress[data-progress="70"] .circle .fill {
    transform: rotate(126deg); }
  .radial-progress[data-progress="70"] .circle .fill.fix {
    transform: rotate(252deg); }
  .radial-progress[data-progress="71"] .circle .mask.full, .radial-progress[data-progress="71"] .circle .fill {
    transform: rotate(127.8deg); }
  .radial-progress[data-progress="71"] .circle .fill.fix {
    transform: rotate(255.6deg); }
  .radial-progress[data-progress="72"] .circle .mask.full, .radial-progress[data-progress="72"] .circle .fill {
    transform: rotate(129.6deg); }
  .radial-progress[data-progress="72"] .circle .fill.fix {
    transform: rotate(259.2deg); }
  .radial-progress[data-progress="73"] .circle .mask.full, .radial-progress[data-progress="73"] .circle .fill {
    transform: rotate(131.4deg); }
  .radial-progress[data-progress="73"] .circle .fill.fix {
    transform: rotate(262.8deg); }
  .radial-progress[data-progress="74"] .circle .mask.full, .radial-progress[data-progress="74"] .circle .fill {
    transform: rotate(133.2deg); }
  .radial-progress[data-progress="74"] .circle .fill.fix {
    transform: rotate(266.4deg); }
  .radial-progress[data-progress="75"] .circle .mask.full, .radial-progress[data-progress="75"] .circle .fill {
    transform: rotate(135deg); }
  .radial-progress[data-progress="75"] .circle .fill.fix {
    transform: rotate(270deg); }
  .radial-progress[data-progress="76"] .circle .mask.full, .radial-progress[data-progress="76"] .circle .fill {
    transform: rotate(136.8deg); }
  .radial-progress[data-progress="76"] .circle .fill.fix {
    transform: rotate(273.6deg); }
  .radial-progress[data-progress="77"] .circle .mask.full, .radial-progress[data-progress="77"] .circle .fill {
    transform: rotate(138.6deg); }
  .radial-progress[data-progress="77"] .circle .fill.fix {
    transform: rotate(277.2deg); }
  .radial-progress[data-progress="78"] .circle .mask.full, .radial-progress[data-progress="78"] .circle .fill {
    transform: rotate(140.4deg); }
  .radial-progress[data-progress="78"] .circle .fill.fix {
    transform: rotate(280.8deg); }
  .radial-progress[data-progress="79"] .circle .mask.full, .radial-progress[data-progress="79"] .circle .fill {
    transform: rotate(142.2deg); }
  .radial-progress[data-progress="79"] .circle .fill.fix {
    transform: rotate(284.4deg); }
  .radial-progress[data-progress="80"] .circle .mask.full, .radial-progress[data-progress="80"] .circle .fill {
    transform: rotate(144deg); }
  .radial-progress[data-progress="80"] .circle .fill.fix {
    transform: rotate(288deg); }
  .radial-progress[data-progress="81"] .circle .mask.full, .radial-progress[data-progress="81"] .circle .fill {
    transform: rotate(145.8deg); }
  .radial-progress[data-progress="81"] .circle .fill.fix {
    transform: rotate(291.6deg); }
  .radial-progress[data-progress="82"] .circle .mask.full, .radial-progress[data-progress="82"] .circle .fill {
    transform: rotate(147.6deg); }
  .radial-progress[data-progress="82"] .circle .fill.fix {
    transform: rotate(295.2deg); }
  .radial-progress[data-progress="83"] .circle .mask.full, .radial-progress[data-progress="83"] .circle .fill {
    transform: rotate(149.4deg); }
  .radial-progress[data-progress="83"] .circle .fill.fix {
    transform: rotate(298.8deg); }
  .radial-progress[data-progress="84"] .circle .mask.full, .radial-progress[data-progress="84"] .circle .fill {
    transform: rotate(151.2deg); }
  .radial-progress[data-progress="84"] .circle .fill.fix {
    transform: rotate(302.4deg); }
  .radial-progress[data-progress="85"] .circle .mask.full, .radial-progress[data-progress="85"] .circle .fill {
    transform: rotate(153deg); }
  .radial-progress[data-progress="85"] .circle .fill.fix {
    transform: rotate(306deg); }
  .radial-progress[data-progress="86"] .circle .mask.full, .radial-progress[data-progress="86"] .circle .fill {
    transform: rotate(154.8deg); }
  .radial-progress[data-progress="86"] .circle .fill.fix {
    transform: rotate(309.6deg); }
  .radial-progress[data-progress="87"] .circle .mask.full, .radial-progress[data-progress="87"] .circle .fill {
    transform: rotate(156.6deg); }
  .radial-progress[data-progress="87"] .circle .fill.fix {
    transform: rotate(313.2deg); }
  .radial-progress[data-progress="88"] .circle .mask.full, .radial-progress[data-progress="88"] .circle .fill {
    transform: rotate(158.4deg); }
  .radial-progress[data-progress="88"] .circle .fill.fix {
    transform: rotate(316.8deg); }
  .radial-progress[data-progress="89"] .circle .mask.full, .radial-progress[data-progress="89"] .circle .fill {
    transform: rotate(160.2deg); }
  .radial-progress[data-progress="89"] .circle .fill.fix {
    transform: rotate(320.4deg); }
  .radial-progress[data-progress="90"] .circle .mask.full, .radial-progress[data-progress="90"] .circle .fill {
    transform: rotate(162deg); }
  .radial-progress[data-progress="90"] .circle .fill.fix {
    transform: rotate(324deg); }
  .radial-progress[data-progress="91"] .circle .mask.full, .radial-progress[data-progress="91"] .circle .fill {
    transform: rotate(163.8deg); }
  .radial-progress[data-progress="91"] .circle .fill.fix {
    transform: rotate(327.6deg); }
  .radial-progress[data-progress="92"] .circle .mask.full, .radial-progress[data-progress="92"] .circle .fill {
    transform: rotate(165.6deg); }
  .radial-progress[data-progress="92"] .circle .fill.fix {
    transform: rotate(331.2deg); }
  .radial-progress[data-progress="93"] .circle .mask.full, .radial-progress[data-progress="93"] .circle .fill {
    transform: rotate(167.4deg); }
  .radial-progress[data-progress="93"] .circle .fill.fix {
    transform: rotate(334.8deg); }
  .radial-progress[data-progress="94"] .circle .mask.full, .radial-progress[data-progress="94"] .circle .fill {
    transform: rotate(169.2deg); }
  .radial-progress[data-progress="94"] .circle .fill.fix {
    transform: rotate(338.4deg); }
  .radial-progress[data-progress="95"] .circle .mask.full, .radial-progress[data-progress="95"] .circle .fill {
    transform: rotate(171deg); }
  .radial-progress[data-progress="95"] .circle .fill.fix {
    transform: rotate(342deg); }
  .radial-progress[data-progress="96"] .circle .mask.full, .radial-progress[data-progress="96"] .circle .fill {
    transform: rotate(172.8deg); }
  .radial-progress[data-progress="96"] .circle .fill.fix {
    transform: rotate(345.6deg); }
  .radial-progress[data-progress="97"] .circle .mask.full, .radial-progress[data-progress="97"] .circle .fill {
    transform: rotate(174.6deg); }
  .radial-progress[data-progress="97"] .circle .fill.fix {
    transform: rotate(349.2deg); }
  .radial-progress[data-progress="98"] .circle .mask.full, .radial-progress[data-progress="98"] .circle .fill {
    transform: rotate(176.4deg); }
  .radial-progress[data-progress="98"] .circle .fill.fix {
    transform: rotate(352.8deg); }
  .radial-progress[data-progress="99"] .circle .mask.full, .radial-progress[data-progress="99"] .circle .fill {
    transform: rotate(178.2deg); }
  .radial-progress[data-progress="99"] .circle .fill.fix {
    transform: rotate(356.4deg); }
  .radial-progress[data-progress="100"] .circle .mask.full, .radial-progress[data-progress="100"] .circle .fill {
    transform: rotate(180deg); }
  .radial-progress[data-progress="100"] .circle .fill.fix {
    transform: rotate(360deg); }

.meter-orb {
  display: inline-block;
  position: relative;
  background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4)); }
  .meter-orb .fill {
    background: radial-gradient(circle at 50% 55%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 40%, rgba(225, 255, 255, 0.5) 60%, rgba(43, 43, 43, 0.3)); }
  .meter-orb::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    border-radius: 100%;
    z-index: 2;
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
  .meter-orb::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    filter: blur(1px);
    z-index: 2;
    transform: rotateZ(-30deg);
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.number-selector {
  display: inline-block; }
  .number-selector input {
    font-size: inherit;
    width: 50px; }
  .number-selector button {
    height: 40px;
    width: 43px;
    padding: 0 0; }

.radial-progress {
  position: relative; }
  .radial-progress .radial-progress-wrapper {
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transform-origin: 0 0; }
    .radial-progress .radial-progress-wrapper .half {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%; }
      .radial-progress .radial-progress-wrapper .half.first {
        border-top: 50px solid black;
        z-index: 1; }
      .radial-progress .radial-progress-wrapper .half.second-overlay {
        border-top: 50px solid #ddd;
        z-index: 2;
        transform: rotate(-90deg); }
      .radial-progress .radial-progress-wrapper .half.second {
        border-top: 50px solid black;
        z-index: 3; }
    .radial-progress .radial-progress-wrapper .mid-cover {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 70px;
      height: 70px;
      background: white;
      border-radius: 50%;
      z-index: 4; }
    .radial-progress .radial-progress-wrapper .outer-cover {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 98px;
      height: 98px;
      box-shadow: 0 0 0 50px white;
      z-index: 5;
      border-radius: 50%; }

.tabs .tab-headers {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer; }
  .tabs .tab-headers > div {
    padding: 5px;
    border: 1px solid #aaddff; }
    .tabs .tab-headers > div.active {
      background: lightsteelblue; }

.toast-message {
  position: fixed;
  background: white;
  z-index: 9100;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  top: -200px;
  transition: top 0.3s ease-in-out; }
  .toast-message.visible {
    top: 0; }
