@font-face {
  font-family: BaseFont; }

* {
  box-sizing: border-box; }

body, html {
  font-family: BaseFont, Arial;
  font-size: 24px;
  margin: 0;
  height: 100%; }

#app {
  height: 100%; }

button {
  font-size: inherit;
  font-family: inherit;
  padding: 4px 16px;
  border-radius: 10px; }

.action {
  border: 2px solid lightgray;
  background-color: #f8f8f8; }
  .action:focus {
    outline: none; }
  .action.current {
    background-color: #f8f8a8;
    border: 2px solid orange; }

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 400px;
  float: right; }
  .meter-bar .fill {
    height: 100%; }

pre {
  font-size: 60%; }

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .main-container .scrollable-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto; }
  .main-container .section-selector {
    height: 16.66667vw;
    border-top: 1px solid gray;
    display: flex; }
    .main-container .section-selector .toggle {
      height: 100%;
      width: 16.66667vw;
      font-size: 8.33333vw;
      line-height: 16.66667vw;
      text-align: center; }
      .main-container .section-selector .toggle.active {
        background: lightgray; }

.container {
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden; }
  .container .draggable-map {
    position: absolute;
    left: 50%;
    top: 50%; }
    .container .draggable-map .node-token {
      position: absolute;
      border: 1px solid grey;
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: -20px;
      border-radius: 50%;
      box-sizing: border-box;
      z-index: 2;
      background-color: white; }
      .container .draggable-map .node-token.current {
        border-width: 6px;
        z-index: 3; }
    .container .draggable-map .path {
      position: absolute;
      min-width: 2px;
      min-height: 2px;
      background-color: green;
      z-index: 1; }

.radial-progress {
  position: relative; }
  .radial-progress .radial-progress-wrapper {
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transform-origin: 0 0; }
    .radial-progress .radial-progress-wrapper .half {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%; }
      .radial-progress .radial-progress-wrapper .half.first {
        border-top: 50px solid black;
        z-index: 1; }
      .radial-progress .radial-progress-wrapper .half.second-overlay {
        border-top: 50px solid #ddd;
        z-index: 2;
        transform: rotate(-90deg); }
      .radial-progress .radial-progress-wrapper .half.second {
        border-top: 50px solid black;
        z-index: 3; }
    .radial-progress .radial-progress-wrapper .mid-cover {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 70px;
      height: 70px;
      background: white;
      border-radius: 50%;
      z-index: 4; }
    .radial-progress .radial-progress-wrapper .outer-cover {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 98px;
      height: 98px;
      box-shadow: 0 0 0 50px white;
      z-index: 5;
      border-radius: 50%; }

.tabs .tab-headers {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer; }
  .tabs .tab-headers > div {
    padding: 5px;
    border: 1px solid #aaddff; }
    .tabs .tab-headers > div.active {
      background: lightsteelblue; }
