@font-face {
  font-family: BaseFont; }

* {
  box-sizing: border-box; }

body, html {
  font-family: BaseFont, Arial;
  font-size: 24px;
  margin: 0;
  height: 100%; }

#app {
  height: 100%; }

button {
  font-size: inherit;
  font-family: inherit;
  padding: 4px 16px;
  border-radius: 10px; }

.action {
  border: 2px solid lightgray;
  background-color: #f8f8f8;
  height: 40px;
  margin: 6px 0;
  font-size: 90%; }
  .action:focus {
    outline: none; }
  .action.current:not(.disabled) {
    background-color: #f8f8a8;
    border: 2px solid orange; }
  .action.disabled {
    opacity: 0.4; }

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 100%;
  float: right; }
  .meter-bar .fill {
    height: 100%;
    transition: width 1s linear; }

.item-list {
  display: flex;
  flex-wrap: wrap; }

.item-icon {
  position: relative;
  width: 20vw;
  height: 20vw;
  padding: 8px;
  box-sizing: border-box;
  font-size: 70%;
  text-shadow: 0 0 2px black, 0 0 2px black;
  color: white; }
  .item-icon img {
    border: 1px solid grey;
    background: lightgrey;
    height: 100%;
    width: 100%; }
  .item-icon .qty {
    position: absolute;
    bottom: 12px;
    right: 12px; }
  .item-icon .integrity {
    position: absolute;
    top: 12px;
    right: 12px; }

.context-menu {
  position: fixed;
  width: 60vw;
  margin-left: -30vw;
  z-index: 9000; }
  .context-menu .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1; }
  .context-menu .contents {
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    z-index: 2;
    position: relative; }
    .context-menu .contents .title {
      line-height: 40px;
      border-bottom: 1px solid grey; }

pre {
  font-size: 60%; }

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .main-container .scrollable-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto; }
  .main-container .section-selector {
    min-height: 16.66667vw;
    border-top: 1px solid gray;
    display: flex; }
    .main-container .section-selector .toggle {
      height: 100%;
      width: 16.66667vw;
      font-size: 8.33333vw;
      line-height: 16.66667vw;
      text-align: center; }
      .main-container .section-selector .toggle.active {
        background: lightgray; }

.main-map-container {
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  transition: height 0.6s; }
  .main-map-container::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    transition: box-shadow 0.6s;
    pointer-events: none; }
  .main-map-container.sneaking::before {
    box-shadow: 0 0 120px 10px inset black; }
  .main-map-container .draggable-map {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../resources/Arcannan.jpg");
    border-radius: 20px; }
    .main-map-container .draggable-map:not(.dragging) {
      transition: margin 0.3s ease-in; }
    .main-map-container .draggable-map .node-token {
      position: absolute;
      border: 1px solid black;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      border-radius: 50%;
      box-sizing: border-box;
      z-index: 2;
      background-color: white;
      opacity: 0.6; }
      .main-map-container .draggable-map .node-token.current {
        opacity: 1;
        z-index: 3; }
    .main-map-container .draggable-map .path {
      opacity: 0.8;
      border-radius: 5px;
      position: absolute;
      min-width: 1px;
      min-height: 5px;
      margin-top: -2.5px;
      background-color: lightgrey;
      border: 1px solid black;
      z-index: 1; }

.radial-progress {
  position: relative; }
  .radial-progress .radial-progress-wrapper {
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transform-origin: 0 0; }
    .radial-progress .radial-progress-wrapper .half {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%; }
      .radial-progress .radial-progress-wrapper .half.first {
        border-top: 50px solid black;
        z-index: 1; }
      .radial-progress .radial-progress-wrapper .half.second-overlay {
        border-top: 50px solid #ddd;
        z-index: 2;
        transform: rotate(-90deg); }
      .radial-progress .radial-progress-wrapper .half.second {
        border-top: 50px solid black;
        z-index: 3; }
    .radial-progress .radial-progress-wrapper .mid-cover {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 70px;
      height: 70px;
      background: white;
      border-radius: 50%;
      z-index: 4; }
    .radial-progress .radial-progress-wrapper .outer-cover {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 98px;
      height: 98px;
      box-shadow: 0 0 0 50px white;
      z-index: 5;
      border-radius: 50%; }

.tabs .tab-headers {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer; }
  .tabs .tab-headers > div {
    padding: 5px;
    border: 1px solid #aaddff; }
    .tabs .tab-headers > div.active {
      background: lightsteelblue; }
