@font-face {
  font-family: BaseFont; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#app {
  height: 100%; }

.meter-bar {
  display: inline-block;
  height: 10px;
  border: 1px solid lightgray;
  width: 100%;
  float: right; }
  .meter-bar .fill {
    -webkit-transition: width 1s linear;
    transition: width 1s linear; }

.status-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 18vmin;
  background: url("../images/ui/Plank_08.png");
  background-size: 120% 100%;
  background-position: center;
  padding: 1.8vmin 1vmin 0;
  z-index: 2; }
  .status-bar .spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.equipment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .equipment-list .equipment {
    width: 25vmin;
    text-align: center; }
    .equipment-list .equipment .item-icon {
      margin: 0 auto; }

.item-icon {
  display: inline-block;
  position: relative;
  width: 20vmin;
  height: 20vmin;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 70%;
  text-shadow: 0 0 2px black, 0 0 2px black;
  color: white; }
  .item-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/ui/frame_s_01.png) no-repeat;
    background-size: 90%;
    background-position: center;
    z-index: 2; }
  .item-icon .slot {
    position: relative;
    height: 100%;
    width: 100%; }
  .item-icon img {
    height: 100%;
    width: 100%;
    display: block; }
  .item-icon .qty {
    position: absolute;
    bottom: 2%;
    right: 4%; }
  .item-icon .integrity {
    position: absolute;
    top: 2%;
    right: 4%; }
  .item-icon.small {
    width: 12vmin;
    height: 12vmin;
    padding: 4px;
    font-size: 60%; }

.details {
  font-size: 89%; }
  .details .label {
    font-size: 80%;
    padding-top: 3px; }
  .details .action {
    height: 10vmin;
    margin: 4px 0 0; }

.action-modal .number-select {
  margin-left: 10vmin; }

.centered .action {
  display: block;
  margin: 0 auto 8px; }

.creature {
  padding: 0 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .creature .name {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 3vmin 0; }

.research-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .research-materials .research-material {
    width: 25vmin;
    margin: 0 2.5vmin 12px; }
    .research-materials .research-material > * {
      vertical-align: middle; }

.list-item-with-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

pre {
  font-size: 60%; }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  .main-container .scrollable-contents {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto; }
  .main-container .section-selector {
    min-height: 15vmin;
    height: 15vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-container .section-selector .toggle {
      height: 100%;
      width: 20vw;
      font-size: 10vw;
      line-height: 15vmin;
      text-align: center;
      background: url("../images/ui/Plank_08.png");
      background-size: 100% 100%;
      color: #D1AE7D;
      text-shadow: 1px 1px 2px black;
      position: relative; }
      .main-container .section-selector .toggle.active {
        -webkit-filter: brightness(140%);
        filter: brightness(140%); }
      .main-container .section-selector .toggle.highlight:not(.active)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-box-shadow: 0 0 10px 3px yellow inset;
        box-shadow: 0 0 10px 3px yellow inset;
        border-radius: 4px; }
      .main-container .section-selector .toggle .icon, .main-container .section-selector .toggle .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: none center center no-repeat;
        background-size: auto 50%; }
      .main-container .section-selector .toggle .icon {
        -webkit-filter: contrast(0) brightness(1.2) sepia(1);
        filter: contrast(0) brightness(1.2) sepia(1); }
      .main-container .section-selector .toggle .shadow {
        background-position: 55% 55%; }
      .main-container .section-selector .toggle.location .icon, .main-container .section-selector .toggle.location .shadow {
        background-image: url("../images/icons8-home-100.png"); }
      .main-container .section-selector .toggle.mobs .icon, .main-container .section-selector .toggle.mobs .shadow {
        background-image: url("../images/icons8-people-100.png"); }
      .main-container .section-selector .toggle.inventory .icon, .main-container .section-selector .toggle.inventory .shadow {
        background-image: url("../images/icons8-drawstring-bag-100.png"); }
      .main-container .section-selector .toggle.crafting .icon, .main-container .section-selector .toggle.crafting .shadow {
        background-image: url("../images/icons8-hammer-100.png"); }
      .main-container .section-selector .toggle.stats .icon, .main-container .section-selector .toggle.stats .shadow {
        background-image: url("../images/icons8-automation-filled-100.png"); }

@font-face {
  font-family: BaseFont;
  src: url("../images/fonts/booter/BOOTERFZ.ttf"); }

html, body {
  background: #221912;
  color: #b88741;
  font-family: BaseFont, Arial;
  font-size: 30px;
  margin: 0;
  height: 100%; }

a, a:visited {
  color: inherit; }

input {
  padding: 6px;
  color: #b88741;
  background: #1F1105;
  border-radius: 6px;
  border: 1px solid #6A4A2C;
  -webkit-box-shadow: 0 0 5px #6A4A2C inset;
  box-shadow: 0 0 5px #6A4A2C inset; }
  input:focus {
    outline: none;
    border: 1px solid #7f5f2c;
    -webkit-box-shadow: 0 0 5px #7f5f2c inset;
    box-shadow: 0 0 5px #7f5f2c inset; }

section > header {
  text-align: center;
  font-weight: bold;
  background: url(../images/ui/Plank_04.png);
  background-size: 100% 100%;
  height: 46px;
  line-height: 46px;
  color: #D1AE7D;
  text-shadow: 1px 1px 2px black; }

section > header.subheader {
  text-align: center;
  font-weight: bold;
  font-size: 90%; }

button, .button {
  background: url("../images/ui/button.png");
  background-size: 140% 100%;
  background-position: center;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 4px 16px;
  position: relative;
  border-radius: 10px;
  color: #D1AE7D;
  text-shadow: 1px 1px 2px black; }
  button:active, button:focus, .button:active, .button:focus {
    outline: none; }
  button[disabled], button.disabled, .button[disabled], .button.disabled {
    -webkit-filter: saturate(0) brightness(50%);
    filter: saturate(0) brightness(50%); }
  button::before, button::after, .button::before, .button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    background: url("../images/ui/button.png");
    background-size: auto 100%; }
  button::before, .button::before {
    left: 0; }
  button::after, .button::after {
    right: 0;
    background-position: right center; }
  button.current:not(.disabled), .button.current:not(.disabled) {
    -webkit-filter: brightness(160%);
    filter: brightness(160%); }

.legal {
  font-family: Arial;
  font-size: 10px;
  color: black; }
  .legal.bright {
    color: #7a592b;
    text-align: center;
    margin: 6px 0; }

.current-action {
  height: 13vmin;
  width: 13vmin;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important; }
  .current-action .current-action-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    .current-action .current-action-wrapper .half {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4; }
      .current-action .current-action-wrapper .half.first-container {
        width: 50%;
        left: 50%;
        overflow: hidden;
        -webkit-clip-path: inset(3px 4px 4px 0);
        clip-path: inset(3px 4px 4px 0); }
      .current-action .current-action-wrapper .half.first {
        background: radial-gradient(ellipse at left, rgba(150, 255, 0, 0.7) 0%, rgba(150, 255, 0, 0) 100%);
        -webkit-transform-origin: left center;
        transform-origin: left center; }
      .current-action .current-action-wrapper .half.second-container {
        width: 50%;
        overflow: hidden;
        -webkit-clip-path: inset(3px 0 4px 4px);
        clip-path: inset(3px 0 4px 4px); }
      .current-action .current-action-wrapper .half.second {
        background: radial-gradient(ellipse at right, rgba(150, 255, 0, 0.7) 0%, rgba(150, 255, 0, 0) 100%);
        -webkit-transform-origin: right center;
        transform-origin: right center; }
    .current-action .current-action-wrapper .mid-cover {
      background: url("../images/ui/frame_c3_01.png") center center no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 6px; }
      .current-action .current-action-wrapper .mid-cover img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 8px;
        z-index: 5; }
        .current-action .current-action-wrapper .mid-cover img.icon {
          -webkit-filter: contrast(0) brightness(1.2) sepia(1);
          filter: contrast(0) brightness(1.2) sepia(1); }
        .current-action .current-action-wrapper .mid-cover img.shadow {
          padding: 9px 7px 7px 9px; }
    .current-action .current-action-wrapper .border {
      background: url("../images/ui/frame_c2_01_border.png");
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5; }
  .current-action .repetitions {
    font-size: 60%;
    text-shadow: 0 0 2px black, 0 0 2px black;
    position: absolute;
    color: #D1AE7D;
    top: 6%;
    right: 15%;
    z-index: 6; }

.dialog-pane-with-logo .main-container {
  text-align: center;
  background: url("../images/ui/bg_01_02.png");
  background-size: 100% 100%;
  padding: 40px;
  width: 300px;
  margin: 50px auto 20px;
  position: relative;
  color: #7a592b; }
  .dialog-pane-with-logo .main-container header {
    background: url("../images/ui/Plank_09.png") no-repeat;
    background-size: 100% auto;
    height: 44px;
    width: 220px;
    position: absolute;
    line-height: 44px;
    padding-right: 20px;
    top: 60px;
    color: #D1AE7D;
    text-shadow: 1px 1px 2px black;
    text-align: right; }
  .dialog-pane-with-logo .main-container .logo {
    height: 120px;
    background: url("../images/ui/logo.png") left center no-repeat;
    background-size: auto 100%;
    z-index: 2;
    position: relative;
    left: -20px; }
  .dialog-pane-with-logo .main-container .error {
    min-height: 30px;
    color: firebrick; }
  .dialog-pane-with-logo .main-container input {
    margin-bottom: 10px; }
  .dialog-pane-with-logo .main-container .text {
    margin: 10px 0 20px; }
  .dialog-pane-with-logo .main-container p {
    margin: 10px 0;
    font-size: 60%;
    color: black; }

.main-map-container {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
  background: url("../images/ui/bg_01_02.png");
  background-size: 120vw;
  background-position: -10vw center; }
  .main-map-container .toggle-expand {
    position: absolute;
    top: 0;
    right: 3px;
    width: 5vh;
    height: 5vh;
    z-index: 4;
    margin-top: -5px; }
    .main-map-container .toggle-expand .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../images/icons8-sort-down-52.png") center center no-repeat;
      background-size: 50%;
      -webkit-filter: contrast(0) brightness(1.2) sepia(1);
      filter: contrast(0) brightness(1.2) sepia(1); }
  .main-map-container.expanded {
    height: 60vh; }
    .main-map-container.expanded .toggle-expand .icon {
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1); }
  .main-map-container::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    -webkit-transition: -webkit-box-shadow 0.6s;
    transition: -webkit-box-shadow 0.6s;
    transition: box-shadow 0.6s;
    transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
    pointer-events: none; }
  .main-map-container.sneaking::before {
    -webkit-box-shadow: 0 0 120px 10px inset black;
    box-shadow: 0 0 120px 10px inset black; }
  .main-map-container .draggable-map {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/Arcannan.jpg");
    border-radius: 20px; }
    .main-map-container .draggable-map:not(.dragging) {
      -webkit-transition: margin 0.3s ease-in;
      transition: margin 0.3s ease-in; }
    .main-map-container .draggable-map .node-token {
      position: absolute;
      border: 1px solid black;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 2;
      background-color: white;
      opacity: 0.6; }
      .main-map-container .draggable-map .node-token .mid-cover {
        background: #ffd79b; }
      .main-map-container .draggable-map .node-token .icon {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
      .main-map-container .draggable-map .node-token .inset, .main-map-container .draggable-map .node-token .mid-cover {
        border: 4px solid black; }
      .main-map-container .draggable-map .node-token.current {
        opacity: 1;
        z-index: 3; }
    .main-map-container .draggable-map .path {
      opacity: 0.8;
      border-radius: 5px;
      position: absolute;
      min-width: 1px;
      min-height: 5px;
      margin-top: -2.5px;
      background-color: lightgrey;
      border: 1px solid black;
      z-index: 1; }

.context-menu {
  width: 60vmin;
  margin-left: -30vmin; }
  .context-menu .contents {
    padding: 10px; }
    .context-menu .contents .html {
      font-size: 70%; }
    .context-menu .contents .actions {
      clear: both;
      margin-top: 8px; }
      .context-menu .contents .actions .action {
        margin-bottom: 4px;
        width: 100%;
        font-size: 60%;
        height: 34px; }

.meter-orb {
  height: 13.5vmin;
  width: 13.5vmin;
  border-radius: 50%;
  margin: 0.2vmin;
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 1.2vmin;
  background: radial-gradient(circle at 50% 55%, rgba(0, 10, 15, 0.6), rgba(0, 10, 15, 0.6) 40%, rgba(10, 15, 20, 0.5) 60%, rgba(255, 255, 255, 0.4)); }
  .meter-orb .border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/ui/frame_c_01.png");
    background-size: 100%;
    z-index: 7; }
  .meter-orb .fill {
    position: absolute;
    bottom: 1.2vmin;
    width: 11.1vmin;
    height: 11.1vmin;
    -webkit-transition: -webkit-clip-path 1s linear;
    transition: -webkit-clip-path 1s linear;
    transition: clip-path 1s linear;
    transition: clip-path 1s linear, -webkit-clip-path 1s linear;
    background: radial-gradient(circle at 50% 55%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40%, rgba(225, 255, 255, 0.2) 60%, rgba(43, 43, 43, 0));
    border-radius: 50%; }
  .meter-orb::before {
    content: "";
    position: absolute;
    top: 1.335vmin;
    left: 1.875vmin;
    border-radius: 100%;
    z-index: 2;
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 8.88vmin;
    width: 4.44vmin;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
  .meter-orb::after {
    content: "";
    position: absolute;
    top: 1.875vmin;
    left: 2.55vmin;
    width: 8.88vmin;
    height: 8.88vmin;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.modal {
  position: fixed;
  top: 10%;
  bottom: 15%;
  left: 9%;
  right: 9%;
  z-index: 9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }
  .modal .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1; }
  .modal .contents {
    background: url("../images/ui/board_dark.png");
    border: 12px solid;
    -o-border-image: url("../images/ui/obj_08_full_border.png") 23;
    border-image: url("../images/ui/obj_08_full_border.png") 23;
    background-size: 120px;
    padding: 16px;
    text-align: center;
    z-index: 2;
    position: relative; }
  .modal .close {
    float: right;
    padding: 4px;
    height: 32px;
    width: 32px;
    font-size: 25px;
    margin: -10px -10px 0 0; }
  .modal .title {
    line-height: 31px;
    margin: -10px 22px 0 -10px;
    font-size: 80%; }
  .modal .main {
    clear: both;
    margin-top: 8px; }

.number-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .number-selector .number {
    width: 20vmin; }
  .number-selector .choices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vmin;
    margin-left: 15px; }
  .number-selector input {
    width: 100%;
    height: 35px;
    text-align: right;
    font-size: 85%; }
  .number-selector .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .number-selector button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 35px;
    width: auto;
    padding: 0 0; }

.radial-progress {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important; }
  .radial-progress .radial-progress-wrapper {
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
    .radial-progress .radial-progress-wrapper .half {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%; }
      .radial-progress .radial-progress-wrapper .half.first {
        border-top: 50px solid black;
        z-index: 1; }
      .radial-progress .radial-progress-wrapper .half.second-overlay {
        border-top: 50px solid #ddd;
        z-index: 2;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      .radial-progress .radial-progress-wrapper .half.second {
        border-top: 50px solid black;
        z-index: 3; }
    .radial-progress .radial-progress-wrapper .mid-cover {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 70px;
      height: 70px;
      background: white;
      border-radius: 50%;
      z-index: 4;
      -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3); }
    .radial-progress .radial-progress-wrapper .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3) inset;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3) inset;
      z-index: 3; }

.tabs .tab-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer; }
  .tabs .tab-headers > div {
    padding: 5px;
    border: 1px solid #aaddff; }
    .tabs .tab-headers > div.active {
      background: lightsteelblue; }

.toast-message {
  position: fixed;
  background: url("../images/ui/obj_06_01_flip.png");
  color: #7a592b;
  padding: 10px;
  z-index: 9100;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  top: -200px;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  font-size: 90%;
  background-position: center bottom;
  background-size: 100% 100%; }
  .toast-message.visible {
    top: 0; }
